In [31]:
import pandas as pd
import bollinger as bol
import imp 
imp.reload(bol)

In [32]:
df = pd.read_csv("../csv/AMZN.csv")

In [33]:
bol_df = bol.Bol(df, 'Adj Close')

In [34]:
bol_df.add_column(20)

              Adj Close       center           ub           lb trade
Date
1997-05-15     1.958333          NaN          NaN          NaN
1997-05-16     1.729167          NaN          NaN          NaN
1997-05-19     1.708333          NaN          NaN          NaN
1997-05-20     1.635417          NaN          NaN          NaN
1997-05-21     1.427083          NaN          NaN          NaN
...                 ...          ...          ...          ...   ...
2019-06-18  1901.369995  1821.456500  1935.384678  1707.528322
2019-06-19  1908.790039  1824.020001  1943.535145  1704.504858
2019-06-20  1918.189941  1826.945495  1952.830613  1701.060378
2019-06-21  1911.300049  1831.736499  1962.964470  1700.508528
2019-06-24  1907.953857  1835.970190  1971.444249  1700.496132

[5563 rows x 5 columns]

In [35]:
bol_df.start_time("2010-01-01")

              Adj Close       center           ub           lb trade
Date
2010-01-04   133.899994   133.984001   141.460445   126.507556
2010-01-05   134.690002   133.839500   141.132776   126.546225
2010-01-06   132.250000   133.741500   141.066419   126.416581
2010-01-07   130.000000   133.536000   141.045671   126.026329
2010-01-08   133.520004   133.646500   141.082939   126.210062
...                 ...          ...          ...          ...   ...
2019-06-18  1901.369995  1821.456500  1935.384678  1707.528322
2019-06-19  1908.790039  1824.020001  1943.535145  1704.504858
2019-06-20  1918.189941  1826.945495  1952.830613  1701.060378
2019-06-21  1911.300049  1831.736499  1962.964470  1700.508528
2019-06-24  1907.953857  1835.970190  1971.444249  1700.496132

[2384 rows x 5 columns]

In [36]:
bol_df.insert_buy()

trade
       1521
buy     863
dtype: int64

In [37]:
bol_df.returns()

/Users/chulwonchae/UBION/220913/bollinger/__init__.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.df["return"] = 1
/Users/chulwonchae/UBION/220913/bollinger/__init__.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.df.loc[i, "return"] = self.rtn

진입일 :  2010-05-04 진입 가격 :  129.830002
청산일 :  2010-08-04 진입 가격 :  129.830002 청산 가격 :  127.580002 | return :  0.9826696451872502
진입일 :  2010-11-16 진입 가격 :  157.779999
청산일 :  2010-11-24 진입 가격 :  157.779999 청산 가격 :  177.25 | return :  1.1233996775472155
진입일 :  2011-01-21 진입 가격 :  177.419998
청산일 :  2011-03-30 진입 가격 :  177.419998 청산 가격 :  179.419998 | return :  1.0112726864082142
진입일 :  2011-06-06 진입 가격 :  185.690002
청산일 :  2011-06-27 진입 가격 :  185.690002 청산 가격 :  201.25 | return :  1.0837955615941024
진입일 :  2011-08-04 진입 가격 :  201.479996
청산일 :  2011-10-14 진입 가격 :  201.479996 청산 가격 :  246.710007 | return :  1.2244888420585436
진입일 :  2011-10-26 진입 가격 :  198.399994
청산일 :  2012-01-18 진입 가격 :  198.399994 청산 가격 :  189.440002 | return :  0.9548387486342363
진입일 :  2012-10-10 진입 가격 :  244.990005
청산일 :  2012-11-29 진입 가격 :  244.990005 청산 가격 :  251.270004 | return :  1.0256336947297096
진입일 :  2013-04-29 진입 가격 :  249.740005
청산일 :  2013-06-07 진입 가격 :  249.740005 청산 가격 :  276.869995 | return :  1.1086329360808655
진입일 :  2013-08-14 진입 가격 :  291.339996
청산일 :  2013-09-18 진입 가격 :  291.339996 청산 가격 :  312.029999 | return :  1.0710166928127507
진입일 :  2014-01-24 진입 가격 :  387.600006
청산일 :  2014-03-05 진입 가격 :  387.600006 청산 가격 :  372.369995 | return :  0.9607068865731648
진입일 :  2014-03-24 진입 가격 :  351.850006
청산일 :  2014-06-05 진입 가격 :  351.850006 청산 가격 :  323.570007 | return :  0.9196248443434728
진입일 :  2014-09-15 진입 가격 :  323.890015
청산일 :  2014-11-14 진입 가격 :  323.890015 청산 가격 :  327.820007 | return :  1.0121337238506718
진입일 :  2015-01-15 진입 가격 :  286.950012
청산일 :  2015-01-30 진입 가격 :  286.950012 청산 가격 :  354.529999 | return :  1.2355113579852366
진입일 :  2015-03-10 진입 가격 :  369.51001
청산일 :  2015-04-08 진입 가격 :  369.51001 청산 가격 :  381.200012 | return :  1.031636496126316
진입일 :  2015-08-20 진입 가격 :  515.780029
청산일 :  2015-10-23 진입 가격 :  515.780029 청산 가격 :  599.030029 | return :  1.1614060167498266
진입일 :  2015-12-11 진입 가격 :  640.150024
청산일 :  2015-12-29 진입 가격 :  640.150024 청산 가격 :  693.969971 | return :  1.0840739592005388
진입일 :  2016-01-04 진입 가격 :  636.98999
청산일 :  2016-03-29 진입 가격 :  636.98999 청산 가격 :  593.859985 | return :  0.9322909218714724
진입일 :  2016-06-24 진입 가격 :  698.960022
청산일 :  2016-07-06 진입 가격 :  698.960022 청산 가격 :  737.609985 | return :  1.055296385749513
진입일 :  2016-10-28 진입 가격 :  776.320007
청산일 :  2017-01-06 진입 가격 :  776.320007 청산 가격 :  795.98999 | return :  1.0253374675683193
진입일 :  2017-08-10 진입 가격 :  956.919983
청산일 :  2017-09-13 진입 가격 :  956.919983 청산 가격 :  999.599976 | return :  1.0446014230638132
진입일 :  2017-09-25 진입 가격 :  939.789978
청산일 :  2017-10-27 진입 가격 :  939.789978 청산 가격 :  1100.949951 | return :  1.1714850943005055
진입일 :  2018-03-28 진입 가격 :  1431.420044
청산일 :  2018-06-01 진입 가격 :  1431.420044 청산 가격 :  1641.540039 | return :  1.1467912901462767
진입일 :  2018-10-08 진입 가격 :  1864.420044
청산일 :  2019-03-01 진입 가격 :  1864.420044 청산 가격 :  1671.72998 | return :  0.896648791874928
진입일 :  2019-05-13 진입 가격 :  1822.680054

/Users/chulwonchae/UBION/220913/bollinger/__init__.py:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.df.loc[i, "acc_rtn"] = self.acc_rtn

3.138061358619031